.ad-coffee_beans {
  height: 35vh;
  width: fit-content;
  margin: 5vh var(--horizontal-padding) 0 var(--horizontal-padding);
  border-radius: 2vh;

  background: #e9d2cb;
  background: linear-gradient(315deg, #e9d2cb, #fdf1ee);

  padding: 3vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ad-coffee_beans:hover {
  .ad-coffee_beans__image {
    transform: rotate(-10deg) scale(1.1);
  }
}

.ad-coffee_beans__text-block {
  position: relative;
  display: flex;
  fill: gray;

  svg {
    height: 5vh;
    width: 6vh;
  }
}

.ad-coffee_beans__data-block {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  flex: 0.7;
}

.ad-coffee_beans__image-block {
  flex: 1;
  display: flex;
  justify-content: center;
}

.ad-coffee_beans__title {
  font-size: 5vh;
  font-weight: bold;
  color: var(--primary);
}

.ad-coffee_beans__image {
  transition: all 0.75s ease-out;
  aspect-ratio: 1/1;
  object-fit: cover;
  scale: 0.82;
}

.ad-coffee_beans__action {
  width: max-content;
}

@media (width <= 900px) {
  .ad-coffee_beans__image  {
    display: none;
  }

  .ad-coffee_beans {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;

    svg {
      display: none;
    }
  }

  .ad-coffee_beans__text-block {
    width: max-content;
  }
}