#contact_form {
  position: relative;
  overflow: hidden;
  height: 40vh;
  margin: 5vh var(--horizontal-padding) 0 var(--horizontal-padding);
  border-radius: 2vh;

  background: #e9d2cb;
  background: linear-gradient(315deg, #e9d2cb, #fdf1ee);

  padding: 3vw 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_form:hover {
  .contact__picture--left {
    transform: rotate(40deg) scale(1.2);
  }

  .contact__picture--right {
    transform: rotate(10deg) scale(1.2);
  }
}
.contact__picture {
  transition: all 1s ease-out;
  z-index: 1;
  position: absolute;
  aspect-ratio: 1/1;
  height: 40vh;
}

.contact__picture--left {
  transform: rotate(30deg);
  left: -10vh;
}

.contact__picture--right {
  right: -8vh;
  bottom: -8vh;
}

.contact__content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.contact__text {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
  align-items: center;
}

.contact__title {
  display: flex;
  gap: 1vw;

  font-weight: bold;
  font-size: 4vh;
  color: var(--primary);

  p {
    font-size: 4vh;
    color: var(--secondary);
  }
}

.contact__description {
  font-weight: 500;
  font-size: 2vh;
  color: var(--primary);
}

.contact__form {
  height: 6vh;
  display: flex;
  gap: 2vh;
}

.contact__input {
  background-color: white;
  border-radius: 1000px;
  padding: 1vh 15px;

  display: flex;
  align-items: center;
  gap: 10px;
  fill: var(--secondary);

  input {
    width: 20vw;
  }

  svg {
    height: 3vh;
    width: 3vh;
  }
}

@media (width <= 820px) {
  .contact__form {
    justify-content: center;
  }

  .contact__input {
    input {
      width: 25vh;
    }
  }

  #contact-button {
    p { display: none; }
  }
}

@media (width <= 640px) {
  
}


@media (width <= 570px) {
  .contact__picture {
    display: none;
  }

  .contact__form {
    height: auto;
    flex-direction: column;
  }

  .contact__input {
    input {
      width: 25vh;
    }
  }

  #contact-button {
    p { display: block; }
  }
}