.footer {
  display: flex;
  flex-direction: column;
  gap: 6vh;

  margin-top: 10vh;
  border-radius: 30px 30px 0 0;
  background-color: var(--modal);

  a {
    color: var(--light);
  }

  a:hover {
    text-decoration: underline;
  }
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5vh;
  padding: 6vh 5vw 0 5vw;
}

.footer__company-info {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
}

.footer__chapters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4vw;
}

.footer__chapter {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.footer__chapter-title {
  font-size: 2.4vh;
  font-weight: bold;
  color: white;
}

.footer__chapter-list {
  display: flex;
  flex-direction: column;
  gap: 0.8vh;
}

.footer__chapter-item {
  font-size: 1.8vh;
  font-weight: 400;
  color: var(--light);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 3vh;
}

.footer__contacts-title {
  font-size: 2.4vh;
  font-weight: bold;
  color: white;
}

.footer__social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: white;
    height: 3vh;
    aspect-ratio: 1/1;
  }
}

.footer__basement {
  padding: 2vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #473630;
  color: lightgrey;
  font-size: 1.6vh;
}

.footer__basement-other {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.footer__circular_separator {
  height: 1vh;
  aspect-ratio: 1/1;
  border-radius: 1000px;
  background-color: lightgrey;
}

.footer__map {
  border-radius: 20px;
  height: 110px;
}

@media (width <= 550px){
  .footer__chapters {
    width: 100%;
  }
}