.merchandise {
  margin-top: 10vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

.merchandise__text {
  padding: 0 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.merchandise__text-title {
  display: flex;
  gap: 1vw;

  font-size: 4vh;
  font-weight: bold;
  color: var(--primary);

  p {
    color: var(--muted);
  }
}

.merchandise__text-description {
  font-size: 2.4vh;
  color: var(--secondary);
}

.merchandise__list-filters {
  padding: 0 5vh;
  width: 100%;
  display: flex;
  align-items: start;
  gap: 4vw;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.merchandise__filters-item-highlight {
  border-radius: 1vh;
  background-color: var(--secondary);
  height: 0.4vh;
  width: 60%;
  display: none;
}

.merchandise__filters-item {
  flex-shrink: 0;

  transition: all 0.8s ease;
  display: flex;
  flex-direction: column;
  gap: 0.9vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--muted);
  font-size: 2vh;
  cursor: pointer;
}

.merchandise__list {
  padding-left: 5vh;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vh;

  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}


.merchandise__filters-item.active {
  .merchandise__filters-item-name {
    color: var(--primary);
  }

  .merchandise__filters-item-highlight {
    display: block;
  }
}

.merchandise__filters-item:hover {
  .merchandise__filters-item-name {
    color: var(--primary);
  }

  .merchandise__filters-item-highlight {
    display: block;
  }
}

.merchandise__item {
  position: relative;
  white-space: nowrap;
  flex-shrink: 0;

  padding: 2vh 0;
  width: 44vh;
  height: 54vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  transition: background-color, box-shadow 1s ease-out;
  border: 2px solid var(--light);
  border-radius: 1vh;
}

.merchandise__item-sale {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 2vh;
  top: 2vh;
  right: 0;
  border-radius: 2vh 0 0 2vh;
  background-color: var(--muted);
  color: var(--secondary);
  font-size: 2vh;
  font-weight: 500;
}

.merchandise__item-visual_presentation_block {
  padding: 0 2vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 25vh;
}

.merchandise__item-image {
  position: absolute;
  z-index: 2;
  width: 100%;
  aspect-ratio: 1/1;
}

.merchandise__item-background {
  position: absolute;
  z-index: 1;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1000px;
  background-color: var(--muted);
}

.merchandise__item:hover {
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: white;

  .merchandise__item-sale {
    color: var(--light);
    background: #53230f;
    background: linear-gradient(315deg, #53230f, #9c7060);
  }
  .merchandise__item-image {
    filter: drop-shadow(4px 4px 4px #b7b7b7);
  }
}

.merchandise__item-price-block {
  padding: 0 2vh;
  display: flex;
  align-items: center;
  gap: 1vh;
  width: 100%;
}

.merchandise__item-old_price {
  font-size: 2.2vh;
  text-decoration: line-through;
  color: var(--muted);
}

.merchandise__item-current_price {
  font-size: 3vh;
  font-weight: bold;
  color: var(--secondary);
}

.merchandise__item-description {
  padding: 0 2vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.merchandise__item-static_name {
  font-size: 1.8vh;
  font-weight: 600;
  color: var(--muted);
}

.merchandise__item-name {
  font-size: 2.9vh;
  font-weight: bold;
  color: var(--primary);
}

.merchandise__item-actions {
  padding-right: 2vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
